.mainDiv{
    height: 500px;
    width: 500px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item{
    height: 100px;
    width: 100;
    background-color: red;
    font-size: 32px;
    color:white;
    border: 1px solid white;

}

.item3{
    flex-basis: 200px;
}

.item4{
    /* align-self: center; */
    order: -1;
    flex-shrink: 2;
}

