*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:13px;
    background-color: hsl(0, 0%, 81%);
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 50vh;
    width: 60vw;
    gap: 10px;
}

.box{
    border: 1px solid black;
}

.box1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: hsl(263, 55%, 52%);
    border-radius: 20px;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    color: white;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.box2{

}

.box3{

}

.box4{

}

.box5{

}