@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease;
}
:root{
    --primary-color:orange;
    --secondary-color:rgb(136, 3, 136);
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
header{
padding: 20px;
display: flex;
justify-content:space-between;
align-items: center;
}
header nav{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
}
li a:hover{
    color: var(--primary-color);
}
nav button{
    background-color: #333;
    color: white;
   font-size: 1rem;
   padding: 15px;
   border-radius: 20px; 
}
.logo{
    font-size: 2.5rem;
}
.orange{
  color: var(--primary-color);
}
.brace{
    color: var(--secondary-color);
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
    margin: auto;
    max-width: 80vw;
}
#banner h2{
    font-size: 3rem;
}
h2>span
{
    color: var(--secondary-color);
}
#banner>p{
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    gap: 20px;
}
.buttons>button{
    padding: 10px 20px;
    border-radius: 30px;
}
.buttons>button:nth-child(1){
  color: white;
  background-color: var(--secondary-color);
}
.buttons>button:nth-child(2){
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: #333;
}
.buttons>button:nth-child(2):hover
{
    background-color: var(--secondary-color);
    color: white;
}
.title{
    text-align: center;
    font-size: 2.5rem;
}
#about{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    gap: 30px;
}
p{
    text-align: justify;
}
.details{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.education,.languages,.strengths{
    padding: 20px;
    box-shadow: 2px 3px #333;
    border-radius: 20px;
}

.right img{
    height: 400px;
    width: 400px;
    clip-path: circle(200px);
}
section{
    padding: 50px 0px;
}
#skills
{
    margin: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}
#skills img{
    height: 200px;
    width: 200px;
}
#projects
{
    margin: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card img{
  width: 350px;
}
.card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    border: 1px solid var(--secondary-color);
    color: white;
}
.card button:hover{
    background-color: var(--secondary-color);
    color: white;
}


/* PC */
@media (min-width:769px) and (max-width:1280px){

}
/* tablets */
@media (min-width:481px) and (max-width:768px){
    header{
        flex-direction: column;
        gap: 10px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    #about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #skills{
           grid-template-columns: repeat(3,1fr);
    }
}
/* mobiles */
@media (max-width:480px){
 header{
        flex-direction: column;
        gap: 10px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    nav ul{
        flex-direction: column;
        gap: 10px;
    }   
    #banner h2{
        text-align: center;
        font-size: 2rem;
    }
    #banner p{
        font-size: 1rem;
    }
    #about{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px 20px;
    }
    .details{
        flex-direction: column;
    }
    #skills{
           grid-template-columns: repeat(2,1fr);
    }
    #skills img{
        height: 150px;
        width: 150px;
    }
}